<ion-view title="event">
    <div class="bar bar-header bar-stable">
        <h1 class="title">{{ event.name }}</h1>
    </div>
    <ion-content class="has-header has-footer content event-map">
        <div class="row">
            <div class="col">
                <div class="event-icon"></div>
            </div>
        </div>
        <h3>What:</h3>
        <h4>{{ event.description }}</h4>
        <h3>When:</h3>
        <h4>{{ event.date }}</h4>
        <h3>Where:</h3>
        <h4>{{ event.location.address }}</h4>
        <div class="social-share row">
            <button class="button button-light col" ng-click="twitterShare()">Tweet</button>
            <button class="button button-light col" ng-click="share()">Share</button>
            <button class="button button-light col" ng-if="loggedIn && notGoing" ng-click="checkIn()">I want to Go!</button>
            <button class="button button-light col" ng-if="loggedIn && !notGoing" >Attending!</button>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-light">
        <div class="row">
            <button class="button button-stable col" ui-sref="home">Home</button>
            <button class="button button-stable col" ui-sref="report">My Report</button>
            <button class="button button-stable col" ui-sref="leaderboard">Top 10</button>
            <button class="button button-stable col" ng-hide="loggedIn" ui-sref="register">Register</button>
            <button class="button button-stable col" ng-hide="loggedIn" ui-sref="login">Log In</button>
            <button class="button button-stable col" ng-show="loggedIn" ui-sref="badge">Badges</button>
            <button class="button button-stable col" ng-show="loggedIn" ng-click="logout()">Log Out</button>
        </div>
    </div>
</ion-view>