<ion-view title="event">
    <div class="bar bar-header bar-stable">
        <h1 class="title">{{ event.name }}</h1>
    </div>
    <ion-content class="has-header has-footer content event-map">
        <h3>What:</h3>
        <h4>{{ event.description }}</h4>
        <h3>When:</h3>
        <h4>{{ event.date }}</h4>
        <div class="social-share">
            <button class="button button-light" ng-click="twitterShare()">Twitter</button>
            <button class="button button-light" ng-click="share()">Share</button>
            <button class="button button-light" ng-if="loggedIn && notGoing" ng-click="checkIn()">I want to Go!</button>
            <button class="button button-light" ng-if="loggedIn && !notGoing" >Attending!</button>
        </div>
        <div ng-if="showMap" data-tap-disabled="true">
            <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                <ui-gmap-marker idKey="event.id"
                                coords="event.location" >
                </ui-gmap-marker>
            </ui-gmap-google-map>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-light">
        <div class="row">
            <button class="button button-stable col" ui-sref="home">Home</button>
            <button class="button button-stable col" ui-sref="report">My Report</button>
            <button class="button button-stable col" ui-sref="leaderboard">Top 10</button>
            <button class="button button-stable col" ng-hide="loggedIn" ui-sref="register">Register</button>
            <button class="button button-stable col" ng-hide="loggedIn" ui-sref="login">Log In</button>
            <button class="button button-stable col" ng-show="loggedIn" ui-sref="badge">Badges</button>
            <button class="button button-stable col" ng-show="loggedIn" ng-click="logout()">Log Out</button>
        </div>
    </div>
</ion-view>