<ion-view title="badges">
    <div class="bar bar-header bar-stable">
        <h1 class="title">Your Badges</h1>
    </div>
    <ion-content class="has-header has-footer content ">
        <div ng-repeat="badge in badges" class="row">
            <div class="col">
                <span class="ve-badge badge-{{badge.number}}"></span>
            </div>
            <div class="col col-75">
                <h4>
                    {{ badge.description }}
                </h4>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-light">
        <div class="row">
            <button class="button button-stable col" ui-sref="home">Home</button>
            <button class="button button-stable col" ui-sref="report">My Report</button>
            <button class="button button-stable col" ui-sref="leaderboard">Top 10</button>
            <button class="button button-stable col" ng-hide="loggedIn" ui-sref="register">Register</button>
            <button class="button button-stable col" ng-hide="loggedIn" ui-sref="login">Log In</button>
            <button class="button button-stable col" ng-show="loggedIn" ui-sref="badge">Badges</button>
            <button class="button button-stable col" ng-show="loggedIn" ng-click="logout()">Log Out</button>
        </div>
    </div>
</ion-view>