<ion-view title="events" ng-controller="eventsController">
    <div class="bar bar-header bar-stable">
        <h1 class="title">Events</h1>
    </div>
    <ion-content class="has-header has-footer">
        <div data-tap-disabled="true">
            <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                <ui-gmap-marker ng-repeat="event in events" idKey="event.id" 
                                coords="event.location" click="markerClick(event)">
                </ui-gmap-marker>
            </ui-gmap-google-map>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-light">
        <button class="button button-stable" ui-sref="home">Home</button>
        <button class="button button-stable" ui-sref="report">My Report</button>
    </div>
</ion-view>