.ve-large {
    font-size: xx-large;
}

.event-item-description {
    display: inline-block;
}

.event-item-icon {
    display: inline-block;
    padding: 5px;
}

.event-icon-container {
    text-align:center;
}

.event-icon {
    width:75px;
    height: 75px;
    border-radius:50%;
    background-image: url("../img/eventIcon.png");
    background-size:75px;
    margin:0 auto;
}

.event-map .angular-google-map-container {
    height: 300px;
}

.angular-google-map-container {
    height: 570px;
}

.content {
    margin: 10px;
}

.social-share {
    margin-bottom: 10px;
}

.ve-badge {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size:50px;
}

.badge-10 {
    background-image: url("../img/badge10.png");
}

.badge-20 {
    background-image: url("../img/badge20.png");
}

.badge-50 {
    background-image: url("../img/badge50.png");
}

.badge-100 {
    background-image: url("../img/badge100.png");
}
